body{
	background : url( fond.jpg ) no-repeat;
	background-size: cover;
	background-attachment: fixed; 
	text-align : justify;
}

#bloc_page {
    width: 900px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}


h1{
	
	border-color: 9b735f;
	border-style: groove;
}
	 
h3{
    margin: 10px 0;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;
    font-size: 71px;
}

h4{
    margin: 10px 0;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;
    font-size: 71px;
    text-align : center
}

.zozo {
padding-left:40px;
padding-top: 20px;
height: 85px;
background-color: #138565;
font-size: 30px;
text-align: center;
}

img {
margin : 0px 0px 0px 0px;
}


.affichage{
	border: 1px solid #138565;
	border-width: medium;
	text-align: center;
	width: 350px;
	height: 50px;
	margin-top:  50px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding-top: 20px;
	font-size: 33px;
	color : #000000;
	background-color: #138565
}

.lien {
	color: #138565
}

.mini{
	font-size: 15px;
	text-align: right;
}

.open{
	font-size: 20px;
	text-align: center;
}

.para{
	font-size: 20px;
}

.member-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #9b735f;
}

.member {
    margin: 40px 0;
}

.member-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.member-header h1 {
    margin: 0;
}

.big{
	font-size: 24px;
}
.stitre{
	font-size: 25px;
}

a {
  color: #138565;
}

input[type=radio]#Brown {
            accent-color: #138565;
}

input[type=text]:focus {
  background-color: #BBA08E;
}

.button {
  background-color: light grey;
  padding: 7px 14px;
  text-align: center;
  font-size: 16px;
}

.button:hover {
      background-color: #138565 ;
      transition : 0.3s ;
  }

#console {
            border: 1px solid #000;
            padding: 10px;
            width: 80%;
            height: 300px;
            overflow-y: scroll;
            margin: 20px auto;
            background-color: #BBA08E;
        }
